@use '../utilities' as *;

@use 'helpers';
@use 'typography';

body {
    @include colors($blueblack,$white);
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow: none;

    &.light {
        @include colors($white,$blueblack);
    
        h1, h2, .subtitle {
            color: $blueblack;
        }
    
        ul li.light, .alert-heading {
            color: $white;
        }
    }
}

::-moz-selection {
    @include colors($black,$periwinkle);
}
  
::selection {
    @include colors($periwinkle,$black);
}