@use '../utilities' as *;

@use 'helpers';
@use 'typography';

body {
    background-color: $blueblack;
    color: $white;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow: none;

    &.light {
        background-color: $white;
        color: $blueblack;
    
        .subtitle {
            color: $blueblack;
        }
    
        ul li.light, .alert-heading {
            color: $white;
        }
    }
}