@use '../utilities' as *;

h1 {
    @include font($white, $lg*2, $medium, $base);
}

h2 {
    @include font($white, $xl, $semibold, $base);
    margin-bottom: $sm*0.1;
}

p {
    @include font($white, $sm*1.25, $normal, $base);
}

.line-height {
    line-height: $md;
}

.subtitle {
    @include font($white, $sm, $normal, $italic);
    margin-bottom: 2.5em;
}