@use '../utilities' as *;

.time-container {
    @include size(100%,auto);
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: center;
}

.clock-container {
    @include size(86%,auto);
    background-color: $black;
    padding: $sm*0.95 $sm*1.9;
    border-radius: $sm*0.95;
    border: 3px solid $periwinkle;
    column-gap: $sm;
    position: relative;
    box-shadow: 0 $sm*0.25 $sm*0.25 $boxshadow;
}

.time-content {
    @include size(100%,100%);
    font-size: $sm*2;
    color: $white;
}

.controls-container {
    font-size: $sm*1.35;

    i {
        @include size($sm*5,$sm*2.5);
        color: $white;
    }

    .fa-pause:hover {
        color: $sunyellow;
    }

    .fa-play:hover {
        color: $periwinkle;
    }

    .fa-stop:hover {
        color: $red;
    }
}