@mixin font($color, $size, $fontweight, $fontstyle) {
    color: $color;
    font-size: $size;
    font-weight: $fontweight;
    font-style: $fontstyle;
}

@mixin size($width,$height) {
    width: $width;
    height: $height;
}

@mixin colors($background-color, $color) {
    background-color: $background-color;
    $color: $color;
}