// Colors
$red: rgb(235, 0, 0, 1);
$white: rgb(255, 255, 255, 1);
$blueblack: rgba(41, 44, 53, 1);
$modalblack: rgba(7, 7, 7, 0.95);
$boxshadow: rgba(0, 0, 0, 0.25);
$sunyellow: rgb(255, 207, 74);
$moonblue: rgb(154, 167, 255);
$navy: rgb(35, 50, 148);
$periwinkle: rgb(124, 141, 251);
$grey: rgba(110, 114, 122, 1);
$black: rgba(17, 17, 17, 1);

// Sizes
$xs: 0.5em;
$sm: 1em;
$md: 1.5em;
$lg: 2em;
$xl: 2.5em;
$auto: auto;

// Font Weight
$xxlight: 100;
$xlight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Font Style
$italic: italic;
$base: normal;