@use '../utilities' as *;

h1 {
    font-size: $lg*2;
}

h2 {
    font-size: $xl;
    margin-bottom: $sm*0.1;
}

p {
    font-size: $sm*1.25;
}

.line-height {
    line-height: $md;
}

.subtitle {
    @include font($white, $sm, $normal, $italic);
    margin-bottom: 2.5em;
}