@use "color" as *;
@use "size" as *;
@use "fontweight" as *;
@use "fontstyle" as *;
@use "mixin" as *;

/* -----------------------------
----------- Global -------------
------------------------------ */
body {
    background-color: $blueblack;
    color: $white;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* -----------------------------
----------- Helpers ------------
------------------------------ */
.theme-wrapper {
    width: 100%;
}

.container {
    padding: $sm*6.25 $sm*3.125;
    max-width: $sm*48;
    min-width: $sm*29.75;
    position: relative;
}

.indent {
    margin-left: $lg;
}

.margin-center {
    margin: 0 auto;
}

/* -----------------------------
--------- Typography -----------
------------------------------ */
h1 {
    font-size: $lg*2;
}

h2 {
    font-size: $xl;
    margin-bottom: $sm*0.1;
}

p {
    font-size: $sm*1.25;
}

.line-height {
    line-height: $md;
}

.subtitle {
    @include font($white, $sm, $medium, $italic);
    margin-bottom: 2.5em;
}

/* -----------------------------
--------- To Do List -----------
------------------------------ */
.header {
    text-align: center;

    :after{
        content: "";
        display: table;
        clear: both;
    }
}

.toggle {
    position: absolute;
    bottom: 0;
    right: $sm*7.5;

    .checkbox {
        opacity: 0;
        position: absolute;
    
        &:checked + .label .ball {
            transform: translateX($sm*1.8);
        }
    }

    .label {
        @include size($sm*3.5,$sm*1.75);
        background-color: $black;
        border-radius: $md*2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $sm*0.31;
        position: absolute;
        transform: scale(1.5);
        margin-top: $md;
        box-shadow: 0 $sm*0.25 $sm*0.25 $boxshadow;

        .fas {
            font-size: $sm;
        }
        
        .fa-moon {
            color: $moonblue;
        }
        
        .fa-sun {
            color: $sunyellow;
        }

        .ball {
            @include size($sm*1.3,$sm*1.3);
            background-color: $white;
            position: absolute;
            top: $sm*0.25;
            left: $sm*0.18;
            border-radius: 50%;
            transition: transform 0.25s linear;
        }
    }
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $sm*0.75 $sm $sm*0.75 $sm;

    &:hover {
        background-color: $red;
        color: $white;
        border-radius: $md;
    }
}

.input-field {
    display: flex;
    margin-bottom: $sm*1.2;

    input {
        margin: 0;
        width: 80%;
        padding: $sm*0.75;
        float: left;
        border-radius: $md;
        margin-right: $sm;
        box-shadow: 0 $sm*0.25 $sm*0.25 $boxshadow;
    }
}

ul {
    margin: 0;
    padding: 0;

    li {
        cursor: pointer;
        position: relative;
        padding: $sm*0.75 $xs $sm*0.75 $xl;
        background: $navy;
        @include font($white, $sm*1.12, $normal, $base);
        transition: 0.3s;
        margin-bottom: $xs;
        border-radius: $md;
        padding: $sm*0.7 $xl;
        box-shadow: 0 $sm*0.25 $sm*0.25 $boxshadow;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:nth-child(0) {
            margin-top: $sm*1.2;
        }

        &:nth-child(odd) {
            background: $periwinkle;
        }

        &.checked {
            background: $grey;
            color: $white;
            text-decoration: line-through;

            &::before {
                content: '';
                position: absolute;
                border: $white solid;
                border-width: 0 $sm*0.125 $sm*0.125 0;
                top: $sm*0.625;
                left: $sm;
                transform: rotate(45deg);
                height: $sm;
                width: $xs;
            }
        }
    }
}

.addBtn {
    padding: $sm;
    width: 20%;
    background: $sunyellow;
    color: $blueblack;
    @include font($blueblack,$sm,$medium,$base);
    float: left;
    cursor: pointer;
    transition: 0.3s;
    border-radius: $md;
    box-shadow: 0 $sm*0.25 $sm*0.25 $boxshadow;
    text-align: center;

    &:hover {
        background-color: $navy;
        color: $white;
    }
}

/* -----------------------------
----------- Modal --------------
------------------------------ */
.modal-container {

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: none;
        background-color: $modalblack;

        .modal-txt {
            margin: 15% auto;
            padding: $sm;
            width: 80%;
            display: flex;
            flex-direction: column;
            padding: $lg;
            text-align: center;
            animation: modalPop 1s ease-in-out;
            -webkit-animation: modalPop 1s ease-in-out;
    
            #close-modal {
                color: rgb(255, 255, 255);
                position: absolute;
                top: $xl*2;
                right: $sm*4.5;
                font-size: $sm*1.75;
                font-weight: bold;
            
                &:hover,
                &:focus {
                    color: $red;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        
            .alert-heading {
                font-size: $sm*2.2;
                margin: $sm auto $sm*0.6;
            }
        
            .alert-mssg {
                @include font($white, $sm, $normal, $italic);
            }
        }
    }
}

/* -----------------------------
------ Dark Mode Toggle --------
------------------------------ */
body.light {
    background-color: $white;
    color: $blueblack;

    .subtitle {
        color: $blueblack;
    }

    ul li.light, .alert-heading {
        color: $white;
    }
}

/* -----------------------------
------ Keyframes ---------------
------------------------------ */
@keyframes modalPop {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}