/* -----------------------------
----------- Global -------------
------------------------------ */
body {
    background-color: #292c35;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    transition: background 0.3s linear;
}

/* -----------------------------
----------- Helpers ------------
------------------------------ */
.theme-wrapper {
    width: 100%;
    margin: 0 auto;
}

.container {
    padding: 100px 50px;
    max-width: 768px;
    min-width: 476px;
    margin: 0 auto;
    position: relative;
}

.line-height {
    line-height: 1.5em;
}

.indent {
    margin-left: 2em;
}

/* -----------------------------
--------- Typography -----------
------------------------------ */
h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 0.1em;
}

p {
    font-size: 1.25em;
}

/* -----------------------------
--------- To Do List -----------
------------------------------ */
.subtitle {
    font-size: 1.1em;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 2.5em;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 0.75em 0.5em 0.75em 2.5em;
    background: rgb(35, 50, 148);
    color: white;
    font-size: 1.12em;
    transition: 0.3s;
    margin-bottom: 0.5em;
    border-radius: 1.5em;
    padding: 0.7em 2.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(0) {
    margin-top: 1.2em;
}

ul li:nth-child(odd) {
    background: rgb(124, 141, 251);
}

ul li.checked {
    background: #6e727a;
    color: #ffffff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border: #fff solid;
    border-width: 0 0.125em 0.125em 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 1em;
    width: 0.5em;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75em 1em 0.75em 1em;
}

.close:hover {
    background-color: #f44336;
    color: white;
    border-radius: 1.5em;
}

.header {
    text-align: center;
}

.header:after{
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    width: 80%;
    padding: 0.75em;
    float: left;
    border-radius: 1.5em;
    margin-right: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-field {
    display: flex;
    margin-bottom: 1.2em;
}

.addBtn {
    padding: 1em;
    width: 20%;
    background:rgb(255, 207, 74);
    color: #292c35;
    float: left;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 1.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.addBtn:hover {
    background-color: rgb(38, 59, 192);
    color: #fff;
}

/* -----------------------------
------ Dark Mode Toggle --------
------------------------------ */
body.light {
    background-color: #fff;
    color: #292c35;
}

ul li.light {
    color: #fff;
}

.toggle {
    position: absolute;
    bottom: 0;
    right: 120px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 3.5em;
    height: 1.75em;
    background-color: #111;
    display: flex;
    border-radius: 3em;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    position: absolute;
    transform: scale(1.5);
    margin-top: 1.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ball {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    position: absolute;
    top: 0.25em;
    left: 0.18em;
    border-radius: 50%;
    transition: transform 0.25s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(1.8em);
}

.fas {
    font-size: 1em;
}

.fa-moon {
    color: rgb(154, 167, 255);
}

.fa-sun {
    color: rgb(255, 207, 74);
}