@use '../utilities' as *;

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $sm*0.75 $sm $sm*0.75 $sm;
}

.addBtn {
    padding: $sm;
    width: 20%;
    background: $sunyellow;
    color: $blueblack;
    @include font($blueblack,$sm,$medium,$base);
    float: left;
    cursor: pointer;
    transition: 0.3s;
    border-radius: $md;
    box-shadow: 0 $sm*0.25 $sm*0.25 $boxshadow;
    text-align: center;
}