@use '../utilities' as *;

.modal-container {

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: none;
        background-color: $modalblack;
    }

    .modal-txt {
        margin: 15% auto;
        padding: $sm;
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: $lg;
        text-align: center;
        animation: modalPop 0.5s ease-in-out;
        -webkit-animation: modalPop 0.5s ease-in-out;
    }

    #close-modal {
        color: rgb(255, 255, 255);
        position: absolute;
        top: $xl*2;
        right: $sm*4.5;
        font-size: $sm*1.75;
        font-weight: bold;
    
        &:hover,
        &:focus {
            color: $red;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .alert-heading {
        font-size: $sm*2.2;
        margin: $sm auto $sm*0.6;
    }

    .alert-mssg {
        @include font($white, $sm, $normal, $italic);
    }
}